@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: bold !important;
}
body {
  background-image: url("bg.png");
  background-position: center;
}
.wrapper{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#box {
  border: 1px solid #000;
  min-height: 20rem;
  max-width: 700px;
  margin: auto;
  margin-top: 1rem;
  background: rgb(242, 235, 235);
  border: none;
  border-radius: 1rem;
  transition: max-width 1s, font-size 1s;
  position: relative;
}
p {
  color: black !important;
  font-weight: bold !important;
  font-size: 1.4rem !important;
  transition: font-size 1s;
}
span {
  font-weight: 600;
  color: tomato;
}
img {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  width: 90px;
}
.gif {
  position: relative;
}
.gif img {
  position: absolute;
  top: -30px;
  transform: rotate(-40deg);
  width: 70px;
  right: -55px;
}

@media (max-width: 600px) {
  #box {
    min-height: 20rem;
    max-width: 300px;
    margin: auto;
    margin-top: 1rem;
    transition: max-width 1s;
  }
  p {
    font-size: 13px !important;
    transition: font-size 1s;
  }
  img {
    position: absolute;
    top: 30;
    right: 30;
    border-radius: 50%;
    width: 90px;
  }
}


